In [2]:
import pandas as pd

# Dataset 1 - Car Pricing

Modelo de regresion:

Que relacion hay entre:

El Precio y

- Año
- Caja de velocidades ( manual o automatico)
- Potencia
- Kilometros

Modelo de clasificacion:

- Tipo de vehiculos
- Año
- Manual o automatico
- Potencia 
- Kilometros
- Combustible
- Marca

In [3]:
url1 = 'https://raw.githubusercontent.com/SebastianFurquet/Datasets-Furquet---Seleccionados/main/1_car_pricing.csv'
df1 = pd.read_csv(url1, sep=',')
df1.head()

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

# Dataset 2 - Prioridad Accidentes

Preguntas: 
¿En que me baso para darle prioridad a un accidente? ¿Como los puedo clasificar?

- Tipo de evento
- Relacion entre los vehiculos ( tipo de vehiculos )
- ¿Hubo muertos? (Total Occisos) - Segmentacion: cuantos son Hombres, mujeres, se desconoce.
- ¿Hubo lesionados? (Total Lesionados ) - Segmentacion: cuantos son Hombres, mujeres, se desconoce.
- Fallecidos / Lesionados ( Rangos de edades )
- Fallecidos / Lesionados ( Peatones / Ciclistas / Pasajeros / Motociclista / Conductor )
- Fallecidos / Lesionados ( Diagnostico )

Este Dataset me parece que tiene algunos datos inconsistentes

In [12]:
url2 = 'https://raw.githubusercontent.com/SebastianFurquet/Datasets-Furquet---Seleccionados/main/3_prioridad_accidentes.csv'
df2 = pd.read_csv(url2, sep=',')
df2.head()

C:\Users\sebas\AppData\Local\Temp\ipykernel_11072\893893144.py:2: DtypeWarning: Columns (4,17,18,19,20,21,22,24,25,26,49,53,58,59,60,61,62,63,64,66,67,68,69,70,71,74,75,76,77,78,79,80,83,84,85,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(url2, sep=',')

,no_folio,fecha_evento,mes,hora,condicion,tipo_de_evento,coordenada_x,coordenada_y,punto_1,punto_2,...,pasajero_lesionado,motociclista_occiso,motociclista_lesionado,conductor_occiso,conductor_lesionado,diagnostico_occiso,diagnostico_lesionado,origen,rango_de_edades_menores_de_1_ano_occiso,matricula_unidad_medica
0,BJ/200406/03499,2020-04-06,abril,12:50:00,NaN,CHOQUE,19.368116,-99.142903,EJE 7 SUR,ANTILLAS,...,0.0,0.0,0.0,0.0,0.0,NaN,POLICONTUNDIDO,RADIO,NaN,NaN
1,C5/200406/05748,2020-04-06,abril,18:31:00,NaN,CHOQUE,19.301142,-99.115521,CALZ DEL HUESO,RANCHO COLORADO,...,0.0,0.0,1.0,0.0,0.0,NaN,POLICONTUNDIDO,911 CDMX,NaN,NaN
2,C5/200406/05802,2020-04-06,abril,18:39:00,NaN,CHOQUE,19.476843,-99.092207,EJE 5 NTE,AV GRAN CANAL DEL DESAGUE,...,0.0,0.0,1.0,0.0,0.0,NaN,HX BOCA,911 CDMX,NaN,NaN
3,IZ/200406/03058,2020-04-06,abril,11:38:00,NaN,DERRAPADO,19.298474,-98.984670,EJE 10 SUR,AV SAN FCO,...,0.0,0.0,1.0,0.0,0.0,NaN,POLICONTUNDIDO,RADIO,NaN,NaN
4,C5/200406/03762,2020-04-06,abril,13:31:00,NaN,DERRAPADO,19.436170,-99.204754,AV HOMERO,SOFOCLES,...,0.0,0.0,1.0,0.0,0.0,NaN,CX RODILLA IZQ,911 CDMX,NaN,NaN

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109691 entries, 0 to 109690
Data columns (total 88 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   no_folio                                    109690 non-null  object
 1   fecha_evento                                109691 non-null  object
 2   mes                                         109691 non-null  object
 3   hora                                        109661 non-null  object
 4   condicion                                   37307 non-null   object
 5   tipo_de_evento                              109691 non-null  object
 6   coordenada_x                                109684 non-null  float64
 7   coordenada_y                                109687 non-null  float64
 8   punto_1                                     109691 non-null  object
 9   punto_2                                     109691 non-null  object
 10  colonia                                     109691 non-null  object
 11  alcaldia                                    109691 non-null  object
 12  tipo_de_interseccion                        109691 non-null  object
 13  tipo_de_vehiculo_1                          109691 non-null  object
 14  tipo_de_vehiculo_2                          62388 non-null   object
 15  tipo_de_vehiculo_3                          2862 non-null    object
 16  tipo_de_vehiculo_4                          2265 non-null    float64
 17  marca_de_vehiculo_1                         76514 non-null   object
 18  marca_de_vehiculo_2                         40447 non-null   object
 19  marca_de_vehiculo_3                         1766 non-null    object
 20  marca_de_vehiculo_4                         2243 non-null    object
 21  lesiones                                    37307 non-null   object
 22  edad_occiso                                 4065 non-null    object
 23  edad_lesionado                              107205 non-null  object
 24  se_desconoce_occiso                         107474 non-null  object
 25  se_desconoce_lesionado                      107461 non-null  object
 26  rango_de_edades_menores_de_1_ano_lesionado  109669 non-null  object
 27  rango_edades_1_4_occiso                     109691 non-null  int64
 28  rango_edades_1_4_lesionado                  109691 non-null  int64
 29  rango_edades_5_14_occiso                    109691 non-null  int64
 30  rango_edades_5_14_lesionado                 109691 non-null  int64
 31  rango_edades_15_24_occiso                   109691 non-null  int64
 32  rango_edades_15_24_lesionado                109691 non-null  int64
 33  rango_edades_25_34_occiso                   109691 non-null  int64
 34  rango_edades_25_34_lesionado                109691 non-null  int64
 35  rango_edades_35_44_occiso                   109691 non-null  int64
 36  rango_edades_35_44_lesionado                109691 non-null  int64
 37  rango_edades_45_64_occiso                   109691 non-null  int64
 38  rango_edades_45_64_lesionado                109691 non-null  int64
 39  rango_edades_65_occiso                      109691 non-null  int64
 40  rango_edades_65_lesionado                   109691 non-null  int64
 41  total_occisos                               109691 non-null  int64
 42  occisos_femeninos                           109691 non-null  int64
 43  occisos_masculinos                          109691 non-null  int64
 44  occiso_se_desconoce                         109691 non-null  int64
 45  total_lesionados                            109691 non-null  int64
 46  lesionados_femeninos                        109691 non-null  int64
 47  lesionados_masculinos                       109691 non-null  int64
 48  lesionado_se_desconoce                      109691 non-null  int64
 49  identidad                                   37307 non-null   object
 50  unidad_medica_de_apoyo                      109690 non-null  object
 51  lugar_del_deceso                            4292 non-null    object
 52  trasladado_s_lesionado                      109690 non-null  object
 53  hospital                                    20796 non-null   object
 54  dia                                         109691 non-null  object
 55  hora2                                       107417 non-null  float64
 56  prioridad                                   109691 non-null  object
 57  observaciones                               14695 non-null   object
 58  coordenada                                  74333 non-null   object
 59  fecha_captura                               74343 non-null   object
 60  interseccion_semaforizada                   74649 non-null   object
 61  clasificacion_de_la_vialidad                74649 non-null   object
 62  sentido_de_circulacion                      74649 non-null   object
 63  zona_vial                                   107722 non-null  object
 64  cuadrante                                   35042 non-null   object
 65  sector                                      109691 non-null  object
 66  reporte                                     35042 non-null   object
 67  unidad_a_cargo                              39301 non-null   object
 68  carpeta_de_investigacion                    4928 non-null    object
 69  color_vehiculo_1                            39212 non-null   object
 70  color_vehiculo_2                            21177 non-null   object
 71  color_vehiculo_3                            2645 non-null    object
 72  ruta_de_transporte_publico                  7551 non-null    object
 73  peaton_occiso                               74649 non-null   float64
 74  peaton_lesionado                            74649 non-null   object
 75  ciclista_occiso                             74649 non-null   object
 76  ciclista_lesionado                          72475 non-null   object
 77  pasajero_occiso                             74649 non-null   object
 78  pasajero_lesionado                          73642 non-null   object
 79  motociclista_occiso                         72449 non-null   object
 80  motociclista_lesionado                      72537 non-null   object
 81  conductor_occiso                            74649 non-null   float64
 82  conductor_lesionado                         74649 non-null   float64
 83  diagnostico_occiso                          3572 non-null    object
 84  diagnostico_lesionado                       73672 non-null   object
 85  origen                                      74649 non-null   object
 86  rango_de_edades_menores_de_1_ano_occiso     58208 non-null   float64
 87  matricula_unidad_medica                     22860 non-null   object
dtypes: float64(8), int64(22), object(58)
memory usage: 73.6+ MB

# Dataset 3 - Reservas Hoteles


Ponosticar la probabilidad de cancelaciones de reservas de hotel.

In [20]:
url3= 'https://raw.githubusercontent.com/SebastianFurquet/Datasets-Furquet---Seleccionados/main/6_reservas_hoteles.csv'
df3 = pd.read_csv(url3, sep=',')
df3.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB